$color-darkgrey: #313131;
$color-lightgrey: #d3d3d3;
$color-white: #ffffff;
$color-teal: #a5d6e4;
$color-pink: #f7578e;
$color-grey: #707070;
$color-blue: #210a72;
$color-orange:  #f7b58b;
$color-green: #57f1b1;
$text: #ffffff;

.selected {
    background: $color-pink !important;
  }
  
  .Quiz {
      width: 70vw;
      margin: auto;
      margin-top: 3vh;
  }


.btn {
    background-color: $color-green !important;
    color: black !important;
}

.quizResultat {
    
    background-color: #210a72;
    border-radius: 0 0 5px 5px;
    text-align: left;
    width: 80%;
    margin: auto;
    margin-bottom: 2vh;
    padding-bottom: 10px;
    font-weight: 100;
    li {
        padding: 5px;
    }

    p {
        margin-top: -5px !important;
        margin-bottom: 10px !important;
        margin-left: 0px !important;
        font-weight: 700;
    }
}

.result {
    border-radius: 5px;
    margin-top: 5vh;
    
    padding: 20px;
    background-color: $color-grey;

    h2 {
        background-color: $color-pink;
        width: 80%;
        margin: auto;
        border-radius: 5px;
        padding: 20px;
    }

    p{
        background-color: $color-blue;
        width: 80%;
        margin: 15px auto 0 auto;
        border-radius: 5px 5px 0 0 ;
        padding: 5px;
    }

}