#root {
    background-color: #282c34;
    color: #ffffff;
    min-height: 100vh;
    margin: 0;
    
  }
  
  .App {
    text-align: center;
    width: 100vw;
    margin: auto;
  }
  .Table {
      margin-left: 5vw !important;
      width: 90vw !important;
  }
  .header {
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    height: 8vh;
    margin: auto;
    font-size: 1.5em;
    border-bottom: solid black 1px;
    

    h1 {
        float: left;
        margin: 10px auto 10px 30px; 
    }
    .Menu {
        margin-right: 20px;
        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
        }
        li {
            color: #09d3ac;
            margin: auto 25px 10px 10px;
        }
    }
  }
